<h1>Editing question</h1>

<% form_for(@question) do |f| %>
  <%= f.error_messages %>

  <p>
    Question: <%= f.text_field :question%><br /><br />
    Answer: <%= f.text_field :answer%><br /><br />
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @question %> |
<%= link_to 'Back', questions_path %>