<h1>Listing questions</h1>

<p>
  <%= link_to 'Home', :controller=>"teacherpage" %> -> 
  <%= link_to "Subjects", :controller=>"subjects" %> -> 
  <%= link_to flash[:subjectname], :controller=>"sections", :action=>"index", :subject=>session[:subjectid]%> -> 

  <%= link_to flash[:sectionname], :controller=>"quizzes", :action=>"index", :subject=>session[:quizid]%>  -> 
  <%=flash[:subjectname]%>&nbsp Questions
</p>
 
<table>
  <tr>
    <th>Difficulty</th>
    <th>Question</th>
    <th>Answer</th>
  </tr>

<% @questions.each do |question| %>
  <tr>
    <td><%=question.difficulty%></td>
    <td><%=question.question%></td>
    <td><%=question.answer%></td>
   
   <%
   @publishquizzes=Publishquiz.find(:all,:conditions=>"question_id="+question.id.to_s+" and quiz_id="+session[:quizid])
   if(@publishquizzes.length<=0)
   %>
       
    <td><%= link_to 'Add', :controller=>"teacherpage",:action=>"addquestions",:question=>question.id %></td>
    <td><%= link_to 'Delete', question, :confirm => 'Are you sure?', :method => :delete %></td>
   <%else%>
   <td>
    <td><% #link_to 'Delete', question, :confirm => 'Are you sure?', :method => :delete %></td>
   <%end%>  
    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New question', :action=>"new" %> <%= link_to 'View Added Questions', :action=>"index"%>