<h1>Listing quizzes</h1>
<p>
  <%= link_to 'Home', :controller=>"teacherpage" %> -> 
  <%= link_to "Subjects", :controller=>"subjects" %> -> 
  <%= link_to flash[:subjectname], :controller=>"sections", :action=>"index", :subject=>session[:subjectid]%> -> 
  <%if (flash[:sectionname]!=nil)%>
  <%=flash[:sectionname]+" "%>
  <%end%>
</p>


<table>
  <tr>
    <th>Name</th>
  </tr>

<% @quizzes.each do |quiz| %>
  <tr>
    <td><%=h quiz.name %></td>
    <td><%= link_to 'Add Questions', :controller=>"questions", :action=>"index", :quiz=>quiz%></td>
    <%if quiz.status="Unpublished"%>
    <td><%= link_to 'Publish',:controller=>"teacherpage" ,:action=>"publish" ,:quiz=>quiz%></td>
    <td><%= link_to 'Delete', quiz, :confirm => 'Are you sure?', :method => :delete %></td>
    <%end%>
   
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New quiz', new_quiz_path %>