<h1>New quiz</h1>

<% form_for(@quiz) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %><br />
    
    <%if (session[:id]==nil)%>
      <%=f.label"Subject"%>
      <%=f.select :name, Subject.all.collect {|p| [ p.name, p.id ] }%> 
    <%end%>
    
    <!--><%= f.select :name, Subject.all.collect {|p| [ p.name, p.id ] } %><br />-->
  </p>
  <p>
    <%= f.submit 'Create' %> &nbsp <%= link_to 'Cancel', :controller=>"sections", :action=>"index", :subject=>session[:subjectid]%>
  </p>
<% end %>
