<h1>Grades</h1>
<table width = 30%%>
  <tr>
    <td>Name</td>
    <td>Quiz</td>
    <td>Grade</td>
    <td>Total</td>  
  </tr>
<% @grades.each do |grades| %>
  <tr>
    
    <td><%=grades.fname%> &nbsp <%=grades.lname%></td>
    <td><%=grades.quizname%></td>
    <td><%=grades.grade%></td>
    <td><%=grades.total%></td>
    </tr>
<%end%>
