<h1>Homepage</h1>

<p>Welcome 
   <%=session[:fname]%>  <%= link_to 'Logout', :controller=>"teacherpage",:action=>"logout"%>
</p>

<table>
  <tr>
    <td>
      Subject Management
    </td>  
    <td>
      <%= link_to 'View Subjects', :controller=>"subjects"%>
    </td>
    
  </tr>
    <tr>
    <td>    
      Quiz Management
    </td>
    <td>
      <%= link_to 'View Published Quizzes', :controller=>"quizzes"%>
    </td>    
  </tr>
  <tr>
    <td>    
      Class Management
    </td>
    <td>
      <%= link_to 'View Published Quizzes', :controller=>"quizzes"%>
    </td>    
  </tr>
</table>
