<h1>Register for an Account</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :fname %><br />
    <%= f.text_field :fname %>
  </p>
  <p>
    <%= f.label :lname %><br />
    <%= f.text_field :lname %>
    
  </p>
  <p>
    <%if (session[:usertype]=="Admin")%>
    <%=f.label :category%>
    <%= f.select( :category,  { "Student" => "Student", "Teacher" => "Teacher", "Admin" => "Admin"}) %>
    <%else%>
    <%= f.hidden_field(:category,:value=>'Student')%>
    <%end%>
    </p>
  
  <p>
    <%if(session[:usertype]=="Student"or session[:usertype]=="Teacher")%>
    <%= f.submit 'Create' %> &nbsp <%= link_to 'Back', :controller=>"login" %>
    <%else%>
    <%= f.submit 'Create' %> &nbsp <%= link_to 'Back', users_path %>
    <%end%>
  </p>
<% end %>

