<h1>New feedback</h1>

<% form_for(@feedback) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :feedback %><br />
    <%= f.text_field :feedback %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', feedbacks_path %>